.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 0px;
  /*width: 800px;*/
}

.Main-header {
  background-color: #000010;
 /*background-color: BLACK;*/
  background-image:url("jewel.gif") ;

/* Full height */
  height: 100vh;
  width:100vw;
/* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.Content {
  display: flex;


}

.category {
  flex:1;

}

.quote {
  flex: 5;
}

.App-header {
  background-color: #222;
  height: 0px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 7em;
  color :white;
  text-align: top;
  text-shadow: 5px 5px 5px #66b5ff;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
