.vertical-menu {
    width: 350px;
}

.vertical-menu a {
    color: white;
    display: block;
    padding: 30px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #00264d;
}

.vertical-menu a {
    background-color: #;
    color: white;
    font-family: verdana;
    font-size: 20px;
}