.row {
  display: flex;
}

.grid-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 15px;
  font-family: Verdana;
  font-weight: bold;
  /*color: white;*/
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  padding: 3px;
}

img.picture {
  width: 370px;
  height: 200px;
}

.bg1:hover {

  filter: grayscale(1.5);
}
.bg2:hover {

  filter: grayscale(1.5);
}
.bg3:hover {

  filter: grayscale(1.5);
}

.bg1 {
  background-image:url("./img/friendship.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
}

.bg2 {
  background-image:url("./img/life.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
}

.bg3 {
  background-image:url("./img/love.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
}
